<h3>List of Influencers</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>Email</th>
    <th>Current Location</th>
    <th>Provider</th>
    <th>Connections</th>
    <th colspan="2">Actions</th>
  </tr>

  <% @influencers.each do |influencer| %>
    <tr>
      <td>
        <% if influencer.profile_picture_url.present? %>
          <%= image_tag influencer.profile_picture_url %>
          <br/>
        <% end %>
        <%= influencer.first_name %> <%= influencer.last_name %>
      </td>
      <td><%= influencer.bio %></td>
      <td><%= influencer.email %></td>
      <td><%= influencer.location %></td>
      <td><%= influencer.influencer_authorizations[0].provider %></td>
      <% if influencer.influencer_authorizations[0].provider == "facebook" %>
        <td><%= influencer.no_of_friends %> Friends</td>
        <td><%= link_to 'Add POST', post_new_path(influencer) %></td>
        <td><%= link_to 'View POSTs', post_index_path(influencer) %></td>
      <% elsif influencer.influencer_authorizations[0].provider == "twitter" %>
        <td><%= influencer.no_of_friends %> Followers</td>
        <td><%= link_to 'Add POST', twitter_post_new_path(influencer) %></td>
        <td><%= link_to 'View POSTs', twitter_post_index_path(influencer) %></td>
      <% elsif influencer.influencer_authorizations[0].provider == "instagram" %>
        <td><%= influencer.no_of_friends %> Followers</td>
        <th colspan="2"><%= link_to 'View POSTs', instagram_post_index_path(influencer) %></th>
      <% end %>
    </tr>
  <% end %>
</table>

<style>
  table, th, td {
      border: 1px solid #ccc;
      border-collapse: collapse;
      width:100%;
  }
  th, td {
      padding: 15px;
      text-align: center;
      font-weight: normal;
  }
</style>
